/* Global styles */

/* type scale  : 1.25 */

/* 
  61px  -->  h1
  48px  -->  h2
  39px  -->  h3
  31px  -->  h4
  25px  -->  h5
  20px  -->  h6
  16px  -->  p
  13px  --> small

*/

:root {
  --dark-blue: rgb(42, 42, 93);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat-VariableFont_wght.ttf");
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

/* ================================== */

/* ==============  preloader =============== */

.preloader {
  height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.preloader-circle {
  width: 100px;
  height: 100px;
  /* background-color: var(--dark-blue); */

  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(35, 181, 185, 0.15);
  border: 1px solid #fff;
  border-top-color: #be9278;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  animation: spin 2s infinite;
}

.preloader img {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

/* ================= Navbar =========== */

@keyframes fadeInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fixed-bar {
  position: fixed;
  width: 100%;
  z-index: 90;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  animation: fadeInDown 300ms;
}

header {
  background-color: #fff;
}

header img {
  float: left;
  margin: 30px 60px 0px 60px;
}

header .links {
  float: right;
}

header ul {
  list-style: none;
  margin: 30px 70px 30px;
  display: inline-block;
}

header li {
  display: inline-block;
  padding: 0px 35px;
}

header a {
  font-size: 15px;
  font-weight: 600;
  color: #101a31;
}

.visit-us {
  background-color: #be9278;
  padding: 32px 65px 31px;
}

/* ================ hero section ============== */

.hero-section {
  height: 850px;
  background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    ),
    url("images/h1_hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-content {
  position: absolute;
  animation: move-hero 2s ease-in-out forwards;
  animation-delay: 0.6s;
  left: 10%;
  color: #fff;
  bottom: 20%;
  width: 40%;
  opacity: 0;
  transform: scaleX(0.5);
  transform-origin: left;
}
/* ==============animation */
@keyframes move-hero {
  0% {
    opacity: 0;
    transform: scaleX(0.5) translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: scaleX(1) translateX(0);
  }
}
.hero-content img {
  animation: spin 20s linear infinite;
}

.hero-content h1 {
  font-size: 76px;
  line-height: 83.6px;
  font-weight: 600;
  margin: 20px 0px 30px 0px;
}

.hero-content p {
  line-height: 30px;
  width: 78%;
}

.hero-content .our-services {
  background-color: #be9278;
  padding: 28px 60px;
  display: inline-block;
  margin-top: 30px;
}

.hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 750px;
}

.hero-img img {
  height: 100%;
  width: 660px;
}

/* ===================== main =============== */

main {
  /* background-color: lightblue; */
  width: 80%;
  margin: 0px auto;
  padding: 100px 0px;
}

.offer {
  display: inline-block;
  width: 33%;
  transform: translateY(600px);
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translateY(600px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.offer:hover {
  img {
    transform: scale(1.1);
  }

  span {
    background: none;
    color: #c6a16e;
    border: 1px solid #c6a16e;
  }

  h3 {
    color: #c6a16e;
  }
}

.offer {
  img,
  h3,
  span {
    transition: all 0.7s;
  }
}

.offer-img {
  padding: 0px 40px;
}

.img-container {
  width: 321px;
  height: 404px;
  overflow: hidden;
}

.offer img {
  width: 100%;
}

.offer-content {
  padding: 40px;
  position: relative;
}

.offer-content span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #c6a16e;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: -17px;
  top: 35px;
}

.offer-content h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
}

.offer-content p {
  line-height: 30px;
  color: #101a31;
  width: 80%;
}

/* ========= about ============ */

.about {
  width: 85%;
  margin: 50px auto 150px;
  position: relative;
  height: 800px;
}

.about-img {
  position: absolute;
  z-index: 3;
  top: 15%;
}

.about-img img {
  width: 660px;
  height: 570px;
}

.about-content {
  position: absolute;
  background-color: #f2e1d9;
  right: 0;
  height: 100%;
  width: 70%;
}

.about-cap {
  position: absolute;
  top: 25%;
  left: 37%;
}

.about-cap h2 {
  font-size: 56px;
  line-height: 67.2px;
  font-weight: 600;
  color: #101a31;
}

.about-cap .first-p {
  font-size: 18px;
  line-height: 30.6px;
  color: #010a44;
  margin: 25px 0px 20px 0px;
}

.about-cap .second-p {
  font-size: 14px;
  color: #10285d;
  line-height: 30px;
}

.about-cap .more-about-us {
  background-color: #ba8d72;
  padding: 25px 65px;
  display: inline-block;
  margin-top: 35px;
}

/* =====================services=========== */
.service {
  margin: 100px auto;
  width: 80%;
}
.service-content {
  /* height: 250px; */
  width: 100%;
  margin: auto;
}
.service-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #101a31;
  text-align: center;
  margin-bottom: 50px;
}
.service-content h1 {
  font-size: 53px;
  line-height: 74.2px;
  font-weight: 600;
  color: #101a31;
  text-align: center;
  margin-bottom: 50px;
}
.service-detail {
  width: 20%;
  margin: 10px 25px;
  display: inline-block;
}
.service-img {
  display: inline-block;
  width: 20%;
}
.service-detail h3 {
  padding: 10px 0px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
}
.service-detail p {
  margin: 10px 7px;
  line-height: 30px;
  font-size: 14px;
  color: #101a31;
  font-weight: 400;
  line-height: 26.6px;
}
.service-img img {
  width: 100%;
}
/* ========================= VIDEO ============= */

.section-video {
  width: 100%;
  margin: 100px auto;
}
.video-img {
  width: 100%;
  background-image: url("images/video-bg.png.webp");
  height: 600px;
}
/* =========================article============ */
/* slider */
.slider {
  display: flex;
  justify-content: right;
  /* margin-top: 10px; */
  padding-right: 100px;
}

.slider label {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #070707;
  transition: color 0.3s;
}

.slider label:hover {
  color: #333;
}

input[name="testimonial"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-50%);
}

#slide1:checked ~ .slider label[for="slide1"],
#slide2:checked ~ .slider label[for="slide2"] {
  color: #e2b183;
  font-weight: bold;
}
/* ======== */
.slider-container {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}
.slider i {
  font-size: 20px;
  color: #e2b183;
  cursor: pointer;
  padding: 15px;
}
.slide {
  width: 50%;
  padding: 20px;
  text-align: center;
  background-color: #fffdfd;
}
.article {
  background-image: url("images/quotes-sign.png");
  background-repeat: no-repeat;
  background-position: 100px 10px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.article-para {
  position: relative;
  z-index: 8;
  color: #010a44;
  line-height: 30.4px;
  font-size: 19px;
  width: 70%;
  text-align: left;
  margin: 50px auto;
  display: inline-block;
}

.article-info {
  margin: 50px 100px;
  display: block;
  text-align: left;
}

.article-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.article-person {
  display: inline-block;
  vertical-align: left;
  text-align: left;
}

.article-person span {
  color: #1d2547;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  display: inline-block;
}

.article-person p {
  color: #978686;
  font-size: 14px;
  line-height: 30px;
}
/* =============================insta========== */
.instagram {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

.insta-content {
  width: 100%;
  margin: 100px auto;
}

.insta-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #101a31;
  text-align: center;
  margin-bottom: 50px;
}

.insta-content h1 {
  font-size: 53px;
  line-height: 74.2px;
  font-weight: 600;
  color: #101a31;
  text-align: center;
  margin-bottom: 30px;
}

.insta-imgs {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.over-lay {
  width: 45%;
  height: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.over-lay img {
  width: 100%;
  display: block;
  transition: opacity 0.5s ease, transform 0.3s ease-in-out;
}

.over-lay:hover img {
  opacity: 0.3;
}

.hover-slide {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.over-lay:hover .hover-slide {
  opacity: 1;
}

/* ================= footer ============= */
.footer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    ),
    url("images/h1_hero.png");
  padding: 100px 0px 0px 0px;
  color: white;
  text-align: center;
}

.map {
  width: 50%;
  float: left;
  bottom: 0;
  left: 0;
}

.map img {
  width: 100%;
  height: 500px;
  bottom: 0;
  left: 0;
  display: block;
}

footer .content {
  width: 45%;
  float: right;
  text-align: left;
  margin: 0 30px;
}

footer .content p {
  font-size: 16px;
  color: #cbd5e1;
  margin-bottom: 20px;
}

footer .content .phone-number {
  font-size: 22px;
  color: #e2b183;
}

footer .content .social-icons {
  margin-top: 20px;
}
footer .social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #5a5a5e;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}
.logo {
  width: 35%;
  height: 100px;
  margin: 0 auto;
  display: block;
  float: left;
}
footer .links {
  width: 35%;
  display: block;
  height: 400px;
  margin: 0 auto;
  color: #cbd5e1;
  float: right;
}
.links h3 {
  font-size: 28px;
  font-weight: bold;
  color: #e2b183;
  margin-bottom: 50px;
}

.content .links a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 5px;
}
.footer-para {
  font-size: 16px;
  display: block;
  color: #cbd5e1;
  width: 40%;
  float: right;
  margin: 20px 30px;
}
